.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.bg-yellow {
  background-color: yellow;
}
.sample-container {
  font-size: 10px;
}
@media (min-width: 576px) {
  .sample-container {
    width: 520px;
  }
}
@media (min-width: 768px) {
  .sample-container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .sample-container {
    width: 920px;
  }
}
@media (min-width: 1200px) {
  .sample-container {
    width: 1140px;
  }
}
